/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ----------- General ------------*/

.content-wrapper {
  width: 90%;
  margin: 50px 25px 50px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.container {
  min-width: 360px;
}


html {
  font-size: 16px;
}

body {
  font-size: 1em;
  font-family: 'source sans pro', sans-serif;
  color: #ffffff;
}

h1 {
  font-family: 'Archivo black', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin:;
}

h4 {
  margin: 0;
}

p {

  margin: 0;
}


/* ----------- Base Header - Footer Styles ----------*/


header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  background-color: #23001E;
  padding: 15px 0;
  border: 1px solid lightgreen;
}

header .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: 1px solid yellow;
}


header figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: 1px solid pink;
}


header a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header figure img {
  width: 60%;
  border: 1px solid lightgreen;
}

.header-divider {
  background: #3a3a3a; 
  height: 1px;
  width: 100%;
  margin: 10px 0 20px 0;
}

header nav {
  font-size: 1.125em;
  font-weight: 300;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  border: 1px solid pink;
}

header nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}



/* Override "user agent style" */

ul { 
  padding:0; 
}

header nav ul li a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* Override "user agent style" */


footer {
  background-color: #B50356;
  text-align: center;
}

/*
footer .footer-content {
  border: 1px solid lightyellow;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;

}
*/

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
}

footer h1 {
  margin: 0 0 40px 0;
  width: 100%;  
}

footer  address p {
  margin-bottom: 40px;
  line-height: 1.75em;
}

footer address {
  font-style: normal;
  width: 100%;
}

footer .content-wrapper .form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer .content-wrapper .form h4 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1em;
  margin-bottom: 15px;
  width: 100%;
}

footer .content-wrapper input {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 4px;
}

footer .input-text {
  border: 1px solid white;
  border-radius: 3px;
  color: #B50356;
  margin-bottom: 20px;
  padding-left: 10px;
}

footer .input-button {
  background-color: #B50356;
  color: white;
  font-weight: 500;
  padding: 0;
}

footer .copyright {
  display: flex;
  margin-top: 50px;
}

footer .social {
  width: 100%;
  display: flex;
}

footer .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
 
footer .social-icons i {
width: 45px;
height: 45px;
text-decoration: none;
}

footer .social-icons p {
  font-size: 3.125em;
}

.social-icons a {
  text-decoration: none;
}




/* ----------- Main (About) ----------*/

#about {
  background-color: #ffffff;
  color: #23001E;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #about h1 {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #about p {
  margin-bottom: 20px;
}

#about-divider-1, #about-divider-2 {
  background: #23001E; 
  height: 1px;
  width: 100%;
  margin: 0;
}

#about-divider-1 {
  margin-bottom: 20px;
}

#about-divider-2 {
  margin-top: 20px;
}



/* ---------- Main (Portfolio) ----------*/

#portfolio {
  background-color: #1C918C;
  display: flex;
  justify-content: center;
  align-items: center;  
}

main #portfolio h1 {
  width: 100%;
  margin: 0 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #portfolio .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

main #portfolio .content-wrapper .portfolio-items .photo-container {
  margin-bottom: 15px;
}

main #portfolio .photo-container {
 width: 100%; 
 height: 100%; 
 min-width: 100%; 
 min-height: 100%; 
 position: relative;
 text-align: center;
 display: flex; 
 flex-direction: column; 
 justify-content: center; 
 align-content: center;
}

main #portfolio .photo-container img {
  width: 100%;
}

/*
.caption-content {
  width: 60%;
  height: 15%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 92.5%;
  background-color: rgba(0, 0, 0, .5);
 
}

.caption-content p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}
*/


.caption-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.caption-content p {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 1px;
  background-color: rgba(98, 98, 98, .7);
}

#portfolio .expand-button {
  border: 1px solid white;
  text-align: center;
  height: 50px;
  width: 100%;
  vertical-align: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

